@page
@model RazorAppWeb.Pages.Categories.IndexModel



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-info">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-info">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>

    <br />

    <table class="table table-bordered table-striped" width="100%">
        <thead>
            <tr class="table-primary">
                <th>Category Name</th>
                <th>Category Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr class="table-dark">
                    <td width="50%">@category.Name</td>
                    <td width="30%">@category.DisplayOrder</td>
                    <td class="btn-group w-50%" role="button">
                        <a class="btn btn-warning" asp-page="Edit"
                           asp-route-id="@category.Id">
                            <i class="bi bi-pencil"></i> &nbsp; Edit
                        </a>
                    </td>
                    <td class="btn-group w-50%" role="button">
                        <a class="btn btn-danger" asp-page="Delete"
                           asp-route-id="@category.Id">
                            <i class="bi bi-trash"></i> &nbsp; Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
